# dependencies
/node_modules
/.pnpm-store
/.yarn
/.pnpm

# testing
/coverage

# Next.js / Vite build outputs
/.next/
/out/
/dist/
/build

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env*.local
.env

# IDE & temporary artifacts
.DS_Store
/.vercel
/.replit
/.replit-artifact
/.idea
/.vscode
